<div class="panel panel-default">
  <div class="panel-heading">Input form</div>
  <div class="panel-body">
    <form class="form-horizontal" role="form" [formGroup]="fg">
      <div class="form-group">
        <label for="birthDate" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
          <ngq-datepicker [inputId]="'birthDate'" [inputClass]="'form-control'" formControlName="birthDate"></ngq-datepicker>
        </div>
      </div>
    </form>
  </div>
</div>
<br> {{ fg.value | json }} {{ fg.get('birthDate').value | date :'short'}}
